<h3>Create your new fantasy team! </h3>

<div>
  <%= form_for [@league, @team] do |form| %>
    <%= form.text_field :name, placeholder: "Team Name" %>
    <%= form.submit "Add Team" %>
  <% end %>
</div>
