<h4><%= @league.name %></h4>

<%= render @teams %>

<div>
  <% if @league.teams.count < 12 %>
    <h6><%= link_to "Add a New Team to the League", new_league_team_path(@league) %></h6>
  <% end %>
</div>

