<div>
  <%= @player.fullname %>
</div>

<div>
  NFL Team:
  <%= link_to @player.pro_team.full_name, pro_team_path(@player.pro_team) %>
</div>

<div>
  Position:
  <%= @player.position %>
</div>

<div>
  <% if signed_in? %>
  <div id="pick_player_button">
    <%= render "pick_player_button", player: @player %>
  </div>
<% end %>
