<h1><%= @pro_team.full_name %></h1>

<% @positions.each do |players| %>
    <h3><%= players.first.position %></h3>
    <% players.each do |player| %>
      <div>
        <%= link_to player.fullname, player_path(player) %>
      </div>
    <% end %>
  <% end %>
