<h1><%= @pro_team.full_name %></h1>

<h4>
  <% @team_players.each do |player| %>
      <div>
        <%= link_to player.fullname, player_path(player) %>
        <%= player.position %>
      </div>
  <% end %>
</h4>
